@{
    this.ViewData["Title"] = "About";
    this.ViewData["AboutActive"] = "active";
}

@* Hero *@
<div class="sm-hero">
    <div class="hero overlay">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 ml-auto">
                    <h1 class="text-white">About</h1>
                    <p>Find out everything about us and our project.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-section bg-dark">
    <div class="container container-about">
        <h1 class="text-center">The Project</h1>
        <p align="justify">
            &emsp;&emsp;GAME POINT is a web application hosted on Azure that allows you to organize and manage gaming tournaments.<br />&emsp;&emsp;
            As a non registered user, you have full viewing access of all events, matches, players and clubs.
            If you wish you can create an account and put in a request to be promoted to a director or linked to a player profile.<br />&emsp;&emsp;
            Once the Admin approves your request you can create three types of events: single match, knockout and league.
            You can choose the dates, location, match type and score or time limit for your tournament.
            Players can be picked from a list of existing ones, but if you want to add one, that is new to GAME POINT, you can create one on the spot, with just a name.
            Once you've added your players, GAME POINT will generate the match scheme for you.
            When the match has passed, you can log in the result on your scheme.<br />&emsp;&emsp;
            You will get email notifications any time you create an event, and players will get notified when they've been signed up to play.<br />&emsp;&emsp;
            Keep track of all your events on your profile page, where you can edit your personal info as well.
        </p>
        <div class="d-flex align-items-end">
            <a href="https://gitlab.com/alpha-41-csharp-team-04/final-project" class="btn btn-primary">Git</a>
            <a href="../../api/swagger/index.html" class="btn btn-primary">Swagger</a>
        </div>
    </div>
</div>

<div class="about-section">
    <div>
        <h1 class="text-white">The Creators</h1>
        <p>Look us up on GitLab and LinkedIn.</p>
    </div>
    <div class="container">
        <div class="row">

            <div class="col text-center">
                <h4>Antoaneta Stefanova</h4>
                <div class="creators translate-middle">
                    <img src="~/images/about-toto.jpg" alt="Photo of Antoaneta Stefanova" title="Photo of Antoaneta Stefanova" />
                </div>
                <div>
                    <a href="https://gitlab.com/AntoanetaStefanova" class="btn btn-primary">GitLab</a>
                    <a href="https://www.linkedin.com/in/antoaneta-stefanova-88459a256" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>
            <div class="col text-center">
                <h4>Asen Iliev</h4>
                <div class="creators translate-middle">
                    <img src="~/images/about-asen.jpg" alt="Photo of Asen Iliev" title="Photo of Asen Iliev" />
                </div>
                <div>
                    <a href="https://gitlab.com/assen.s.iliev" class="btn btn-primary">GitLab</a>
                    <a href="https://www.linkedin.com/in/asen-iliev-764a005/" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>
            <div class="col text-center">
                <h4>Ivan Brambarov</h4>
                <div class="creators translate-middle">
                    <img src="~/images/about-ivan.jpg" alt="Photo of Ivan Brambarov" title="Photo of Ivan Brambarov" />
                </div>
                <div>
                    <a href="https://gitlab.com/Brambarov" class="btn btn-primary">GitLab</a>
                    <a href="https://www.linkedin.com/in/ivanbrambarov/" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="d-flex flex-column align-items-end technologies-title">
        <h1 class="text-white">The Technologies</h1>
        <p>All the technologies and tools we've used in GAME POINT.</p>
    </div>

    <div class="technologies">
        <div class="row">
            <div class="col">
                <img src="~/images/logos/aspmvc.png" alt="ASP MVC" title="ASP MVC" />
            </div>
            <div class="col">
                <img src="~/images/logos/azure.png" alt="Azure" title="Azure" />
            </div>
            <div class="col">
                <img src="~/images/logos/bing.png" alt="Bing Maps API" title="Bing Maps API" />
            </div>
            <div class="col">
                <img src="~/images/logos/bootstrap.png" alt="Bootstrap" title="Bootstrap" />
            </div>
            <div class="col">
                <img src="~/images/logos/csharp.png" alt="C#" title="C#" />
            </div>
            <div class="col">
                <img src="~/images/logos/css3.png" alt="CSS 3" title="CSS 3" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="~/images/logos/docker.png" alt="Docker" title="Docker" />
            </div>
            <div class="col">
                <img src="~/images/logos/dotnetcore.png" alt=".NET Core" title=".NET Core" />
            </div>
            <div class="col">
                <img src="~/images/logos/gitlab.png" alt="GitLab" title="GitLab" />
            </div>
            <div class="col">
                <img src="~/images/logos/html5.png" alt="HTML 5" title="HTML 5" />
            </div>
            <div class="col">
                <img src="~/images/logos/js.png" alt="Java Script" title="Java Script" />
            </div>
            <div class="col">
                <img src="~/images/logos/jwt.png" alt="JSON Web Token" title="JSON Web Token" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="~/images/logos/mailjet.jpg" alt="Mailjet Dev API" title="Mailjet Dev API" />
            </div>
            <div class="col">
                <img src="~/images/logos/openweather.png" alt="OpenWeather API" title="OpenWeather API" />
            </div>
            <div class="col">
                <img src="~/images/logos/postman.png" alt="Postman" title="Postman" />
            </div>
            <div class="col">
                <img src="~/images/logos/sqlserver.png" alt="MS SQL Server" title="MS SQL Server" />
            </div>
            <div class="col">
                <img src="~/images/logos/swagger.png" alt="Swagger" title="Swagger" />
            </div>
            <div class="col">
                <img src="~/images/logos/vs.png" alt="Visual Studio" title="Visual Studio" />
            </div>
        </div>
    </div>
</div>

<div class="credits">
    <p>Credits:</p>
    <a href="https://www.vecteezy.com/video/3777143-interface-hud-digital-technology-of-the-future">Interface HUD digital technology of the future Stock Videos by Vecteezy</a>
</div>